https://github.com/Embarcadero/python4delphi
https://github.com/Embarcadero/python4delphi.git
git+https://github.com/Embarcadero/python4delphi.git@master
git+https://github.com/Embarcadero/python4delphi@master
git+https://github.com/Embarcadero/Lightweight-Python-Wrappers.git@main#egg=Lightweight-Python-Wrappers
git+https://github.com/Embarcadero/PythonEnviroments.git@main#egg=PythonEnviroments
