git+https://github.com/Embarcadero/python4delphi@main#egg=python4delphi
git+https://github.com/Embarcadero/Lightweight-Python-Wrappers@main#egg=Lightweight-Python-Wrappers
git+https://github.com/Embarcadero/PythonEnviroments@main#egg=PythonEnviroments
